body {font-family: "Lato", sans-serif;}
.tablink {
  background-color: #5F9EA0;
  color: black;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 16.5%;
  }

.tablink:hover {
  background-color: #DCDCDC;
}

.tabcontent {
  color: white;
  display: none;
  padding: 50px;
  text-align: left;
  }

#myMe {background-color:#F8F8FF;}
#myIT {background-color:#F0F8FF;}
#myJob {background-color:#F5F5F5;}
#myProfile {background-color:#F5FFFA;}
#myProject {background-color:#FFFAFA;}
#myRefences {background-color:#F5F5F5;}


h1 {color: #000;
	font-size: 250%;
	font-style: bold;}
	
	h2 {color: #000;
		font-size: 200%;
		font-style: bold;}
	
	h3 {color: #000;
		font-size: 150%;
		font-style: bold;}
	 h4 {color: #000;
		font-size: 100%;
		font-style: italic, bold;}
	
	p {color: #000;
	   font-size: 100%;}


body {
  margin:10;
}

table, th, td{
  border: 1px white;
  font-size: 100%;
  text-align: left;
  }

table {
  width: 100%;
  border-collapse: collapse;
   
}
ul {
  list-style-type: square;
  list-style-position: outside;
}
li {
	color: #000;
	 font-size: 100%;
}
blockquote{
	font-style: italic;
	
}
