body {
  font-family: "Lato", sans-serif;
  background-color: ;
  background-size: 100%;
   
 } 
 #main{
	position: absolute;
    left: 200px; 
	padding-top: 25px;
	right: 200px;
	
 }
h1 {color: #000;
	font-size: 250%;
	font-style: bold;}
	
	h2 {color: #000;
		font-size: 200%;
		font-style: bold;}
	
	h3 {color: #000;
		font-size: 150%;
		font-style: bold;}
	h4 {color: #000;
		font-size: 100%;
		font-style: italic, bold;}
	
	p {color: #000;
	   font-size: 100%;}
	   
	f {color: black;
	   font-size: 80%;}

table, th, td{
  border: 1px white;
  font-size: 100%;
  text-align: left;
  }


table {
  width: 90%;
  border-collapse: collapse;
   
}
ul {
  list-style-type: square;
  list-style-position: outside;
}
li {
	color: #000;
	 font-size: 100%;
}
blockquote{
	font-style: italic;
	
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:white;
  color: black;
  text-align: center;
   
}

#mySidenav a {
  position: fixed;
  left: -120px; 
  transition: 0.3s; 
  padding: 15px;
  width: 150px;
  text-decoration: none; 
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  left: 0; 
}

#home {
  top: 20px;
  background-color: #9E79A6;
}

#me {
  top: 80px;
  background-color: #A69E79; 
}

#it {
  top: 140px;
  background-color: #79A69E; 
}

#job {
  top: 200px;
  background-color: #A67A79 
}
#profile {
  top: 260px;
  background-color: #9CA679 
}
#project {
  top: 320px;
  background-color: #E9C4F1 
}
#references {
  top: 380px;
  background-color: #B19D18 
}
#contact {
  top: 440px;
  background-color: #112109 
}
img {
  border: 1px solid #ddd;
  border-radius: 4px;  
  padding: 5px; 
  width: 150px; 
}
.subimage {
  border: none;
  border-radius: 0px;  
  padding: 0px; 
  width: 100%; 
  opacity: 0.1;
  }
 .subimage: hover{
	 box-shadow: none;
 }

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

