h1 {color: #000;
	font-family: arial;
	font-size: 250%;
	font-style: bold;}
	
	h2 {color: #000;
		font-family: arial;
		font-size: 200%;
		font-style: bold;}
	
	h3 {color: #000;
		font-family: arial;
		font-size: 150%;
		font-style: bold;}
	 h4 {color: #000;
		font-family: arial;
		font-size: 100%;
		font-style: bold;}
	
	p {color: #000;
		font-family: arial;
		font-size: 100%;}


body {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #FDF5E6;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: #000;
  padding: 10px 16px;
  font-family: arial;
  font-size: 100%;
  font-style: bold;
  text-decoration: none;
}

li a.active {
  background-color: #B0C4DE;
  color: white;
}

li a:hover:not(.active) {
  background-color: #D3D3D3;
  color: white;
}

table, td{
  border: 1px white;
  font-family: arial;
  font-size: 100%;
  text-align: left;
}

table {
  width: 75%;
  border-collapse: collapse;
  
  
}